/bin/
.idea/
ds2.iml
.cache-main
.cache-tests
.classpath
.ensime
.ensime_cache/
.gitignore
.settings/
.project
target/
out/
project/build.properties
.AppleDouble
ds2.wiki/
.DS_Store
.worksheet/
.cache
\#*
\.#*
*~
ensime.sbt
*.iml
harness*
data/
null/Coursier/cache/v1/https/
.bloop/
.metals/
coursier
parallel.copy.txt
.scalafmt.conf
.vscode/
Docs/ds2-paper/
*.tex
*.txt
project/
*.log
/.jvmopts
/benchmarks.results.DIST.REG.tex.OLD
/dist.reg.harness.txt
/Docs/benchmarks.results/distributed.register.2.org
/Docs/benchmarks.results/distributed.register.org
/resources/META-INF/MANIFEST.MF

/Docs/paxos.diagrams/schedulers.main.loop/main-loop.png
